.DS_Store
.idea
*.pyc
*/*.pyc
data/scrap.db
data/scrap.sqbpro
nlp_analysis.py
!data/img/*
!data/img/*/*
data/img/.DS_Store
!data/github_lang.txt
!data/secwiki/*
!data/secwiki*
data/githubcom/*
data/sec_url/*
data/weixin/*
data/twitter/*
data/github_404
data/book/*
data/*.txt
venv/*


