backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
cycler==0.10.0
idna==2.9
kiwisolver==1.1.0
lxml==4.5.0
matplotlib==2.2.4
numpy==1.16.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
requests-file==1.4.3
six==1.14.0
soupsieve==1.9.5
subprocess32==3.5.4
tldextract==2.2.2
urllib3==1.25.8
