backports.functools-lru-cache==1.5
baidu-aip==2.2.13.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.0.1
lxml==4.3.2
matplotlib==2.2.4
numpy==1.16.2
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
requests-file==1.4.3
six==1.12.0
soupsieve==1.8
subprocess32==3.5.3
tldextract==2.2.1
urllib3==1.24.1
